@(message: String)

@main() {


	<script src="@routes.Assets.at("javascripts/bootstrap-rating-input.min.js")" type="text/javascript"></script>
	<script src="@routes.Assets.at("javascripts/main.js")" type="text/javascript"></script>
	<script type="text/javascript">
	$(function(){
	$('.hasTooltip').tooltip();
	$('.review-modal').on('hidden.bs.modal', function (e) {
	$('.vote-d').popover('hide');
	$('.vote-u').popover('hide');
	});
	$('.pre-video-modal').on('hidden.bs.modal', function (e) {
	var myVideo = $(this ).find('video');
	if (myVideo) myVideo[0].pause();
	});
	$(".comment").shorten();
	var editor = $('#review-textarea');
	editor.summernote({
	height: 100,
	toolbar: [
	//['style', ['style']], // no style button
	['style', ['bold', 'italic', 'underline', 'clear']],
	['fontsize', ['fontsize']],
	['color', ['color']],
	['para', ['ul', 'ol', 'paragraph']],
	['height', ['height']]
	//['insert', ['picture', 'link']], // no insert buttons
	//['table', ['table']], // no table button
	//['help', ['help']] //no help button
	]
	});


	});


	$( ".mlnk" ).click(function() {
	$( "p" ).hide( "slow" );
	});

	</script>
			<div class="container">
				<div class="row-fluid">

					<div class="col-sm-6">
						<div class="ci prox">
							<h2 class="ci-h">Lập Trình Viên Dotnet</h2>
							<div class="aboutcourse">

								<b>MÔ TẢ CHI TIẾT CÔNG VIỆC</b>
								<div class="aboutcourse">
									<span style="font-size: 14px;">- Phát triển các ứng dụng trên nền tảng .Net</span><br style="font-size: 14px; line-height: 21px;">
									<span style="font-size: 14px;">- Thực hiện việc phát triển các modules trong dự án như: winform,webform…</span><br style="font-size: 14px; line-height: 21px;">
									<span style="font-size: 14px;">- Thực hiện viết code</span><br style="font-size: 14px; line-height: 21px;">
									<span style="font-size: 14px;">- Cộng tác với các thành viên khác trong nhóm</span><br style="font-size: 14px; line-height: 21px;">
									<span style="font-size: 14px;">- Nghiên cứu và sử dụng công nghệ mới</span><br style="font-size: 14px; line-height: 21px;">
									<span style="font-size: 14px;">- Thực hiện các công việc do trưởng bộ phận phân công</span><br style="font-size: 14px; line-height: 21px;">
								</div>
								</div>
							<div class="ci-b">
								<div class="col-md-6">
									<a class="hasTooltip" href="" data-toggle="tooltip" data-placement="top" title="Thêm vào ưa thích">Ưa thích <i class="fa fa-heart text-danger"></i> </a>
									<a class="hasTooltip" href="" data-toggle="tooltip" data-placement="top" title="Báo cáo lỗi">Báo sai <span class="glyphicon glyphicon-warning-sign text-warning"></span> </a>
								</div>
								<div class="ci-br ud-userlist-link subs">
									<span class="ci-en"><b>25</b> lượt xem  </span>
								</div>
							</div>
							<div class="pb-t">
								<div class="pb-ta">
									<a class="btn-a btn-startlearning" href="#">
										Nộp đơn </a>
								</div>

							</div>
						</div>
					</div>
					<div class="col-sm-6">
						<img src="@routes.Assets.at("images/img/hanel.png")" alt="" class="iconHldrg">
						<h2 class="ci-h">Thông tin công ty </h2>
						<div>		Tên công ty:	Hanel Software<br/>

						Website công ty:	<a>hanelsoft.vn</a><br/>
							Số nhân viên:	 100-499<br/>
							Tên liên hệ:	 Phòng Nhân Sự<br/>
							<div style="display: block;" class="shortcontent">Công ty CP Giải Pháp Phần Mềm Hanel (HanelSoft) là một đơn vị thành viên của Công ty TNHH MTV Hanel với sứ mệnh xây dựng công nghiệp phần mềm, là nòng cốt của một doanh nghiệp công nghệ tiên tiến hiện đại, cánh chim đầu đàn của công nghiệp thủ đô.
							</div>

							<div style="display: none;" class="allcontent">
								<div>	<p>	Công ty CP Giải Pháp Phần Mềm Hanel (HanelSoft) là một đơn vị thành viên của Công ty TNHH MTV Hanel với sứ mệnh xây dựng công nghiệp phần mềm, là nòng cốt của một doanh nghiệp công nghệ tiên tiến hiện đại, cánh chim đầu đàn của công nghiệp thủ đô.</p>
								</div><div>
								<p>	HanelSoft đang từng ngày xây dựng để trở thành nơi quy tụ đội ngũ nhân sự trẻ trung, nhiệt huyết với nền tảng vững mạnh về công nghệ, kiến trúc thông tin, các giải pháp quản lý, các nền tảng ứng dụng nội dung số.</p>
							</div><div>
								<p>	Chúng tôi đã và đang áp dụng những kiến thức và kinh nghiệm của mình để triển khai thành công nhiều dự án phần mềm cho các khách hàng tại Việt Nam cũng như Singapore trong rất nhiều lĩnh vực khác nhau như y tế, giáo dục, quản lý nhà nước, giải trí, du lịch, quản trị sản xuất và phân phối.</p>
							</div><div>
								<p>	Nhằm đáp ứng nhu cầu sản xuất kinh doanh, chúng tôi cần tìm kiếm và tuyển dụng những nhân viên cũng như quản lý có năng lực vào các vị trí sau: Kỹ Sư Phát Triển Phần Mềm (.NET, SharePoint, PHP, Java, UI, iOS, Android), Chuyên viên Kiểm Thử (Tester), Chuyên viên Quản Lý Chất Lượng (QA), Trưởng Nhóm Thiết Kế, Chuyên viên Thiết Kế (Designer), Quản lý Dự Án (PM), Chuyên viên Phân Tích Nghiệp Vụ (BA), Chuyênviên Phát Triển Ý Tưởng (Idea Developer), Chuyên viên Phát Triển Kế Hoạch Kinh Doanh (Businees Plan Developer).</p></div>
							</div>
							<span><a class="mlnk">more</a></span>
						</div>



					</div>
					<hr/>
					<div class="col-sm-7">

							<h4>KINH NGHIỆM/KỸ NĂNG CHI TIẾT</h4>
							<div class="lectures-list-wrap">
								- Tốt nghiệp các trường Đại học chuyên ngành CNTT, điện tử viễn thông hoặc liên quan.<br/>
								- Hiểu sâu về cơ sở dữ liệu, biết phân tích thiết kế cơ sở dữ liệu chuyển hóa sơ đồ ERD sang bảng dữ liệu.<br/>
								- Sử dụng thành thạo các hệ quản trị cơ sở dữ liệu SQL server hoặc Oracle.<br/>
								- Biết viết các Procedure, thành thạo các câu lệnh truy vấn.<br/>
								- Hiểu sâu về lập trình ASP.Net,<br/>
								- Đã làm việc với các công nghệ làm wed khác CSS, Java Script library: Jquery, dojo<br/>
								- Biết lập trình winform, C#.<br/>
								- Thông thạo một trong các IDE phát triển ứng dụng bằng: VS 2008, 2010.<br/>
								- Có kinh nghiệm làm việc với các hệ thống quản lý mã nguồn GIT hoặc SVN<br/>
								- Biết Cystalreport.<br/>
								- Ưu tiên biết Sharepoint.<br/>
								- Ưu tiên các ứng viên đã có kinh nghiệm làm việc trong các dự án gia công phần mềm cho nước ngoài<br/>
								- Có khả năng làm việc bằng tiếng Anh (đọc và nghiên cứu tài liệu)<br/>
								- Năng động, kiên trì, cầu tiến, có trách nhiệm với công việc<br/>
								- Có khả năng chịu được áp lực, nhiệt tình sáng tạo trong công việc, có khả năng nghiên cứu công nghệ mới<br/>
							</div>
							<h4>THÔNG TIN LIÊN HỆ</h4>
							<div class="lectures-list-wrap">
								<ul class="lien">
									<li><span class="lienhe">Cách liên hệ:</span> <span class="lienhe-right">Nộp trực tuyến, Gửi kèm File, Trực tiếp</span></li>
									<li class="clearfix"><span class="lienhe">Mô tả:</span>
										<span class="lienhe-right">	- Các ứng viên quan tâm có thể nộp hồ sơ trực tuyến, gửi kèm file hay trực tiếp đến tại công ty<br/>
											- CV hoặc Resume kèm ảnh mới chụp trong thời gian 6 tháng (Tiếng Việt hoặc tiếng Anh) gửi về địa chỉ email tuyendung@@hanelsoft.vn.<br/>
											Tiêu đề email ghi rõ: Họ và tên _ Vị trí ứng tuyển<br/>
											Ví dụ: Nguyễn Văn A _ Lập trình viên Dotnet<br/>
											- Liên hệ: Ms. Hương. Điện thoại: 0975.525.626<br/>
											Hoặc Ms.Hà. Điện thoại: 0974.487.702<br/>
											Email: tuyendung@@hanelsoft.vn<br/>
											Website: http://www.hanelsoft.vn<br/>
											Facebook: https://www.facebook.com/HanelSoft?ref=br_rs<br/>
											- Địa chỉ: Công Ty Cổ Phần Giải Pháp Phần Mềm Hanel Khu công nghệ cao Hanel, Đường Cổ Linh, Sài Đồng, Long Biên, Hà Nội</span></li>
									<li><span class="lienhe">Tên liên hệ:</span><span class="lienhe-right">	 Phòng Nhân Sự</span></li>
									<li><span class="lienhe">Địa chỉ:</span> <span class="lienhe-right">Khu công nghệ Cao Hanel, Đường Cổ Linh, Sài Đồng, Long Biên, Hà Nội, Việt Nam</span></li>
									<span style="font-style: italic;font-weight: bold;">	** Nhận hồ sơ ứng viên bằng ngôn ngữ: <span class="text">Tiếng Việt</span></span>
								</ul>
							</div>
						</div>
					<div class="col-sm-5">
						<div class="wi">
							<h5 class="wi-h">Mô tả</h5>
							<ul class="wi-ul bulleted-ul">
								<li class="wi-li">Ngành nghề việc làm:
									CNTT - Phần mềm </li>
								<li class="wi-li">Cấp bậc: Nhân viên </li>
								<li class="wi-li">Nơi làm việc:
									Hà Nội</li>
								<li class="wi-li">
									Trình độ học vấn: Kỹ sư</li>
								<li class="wi-li">
									Mức kinh nghiệm: 1-2 năm kinh nghiệm</li>
								<li class="wi-li">Loại công việc: Toàn thời gian cố định</li>
								<li class="wi-li">	Lương: 8,000,000VNĐ - 15,000,000VNĐ</li>
								<li class="wi-li">	Tuổi: Trên 21</li>
								<li class="wi-li">	Giới tính: Nam/Nữ </li>
							</ul>
						</div>

						<div>
							<h4>Danh mục</h4>
							<a href="">Technology </a><br>
						</div>
					</div>
				</div>
			</div>

			}